.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
}

.ff-x {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 20px;
    cursor: pointer;
}

.ff-input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ff-input {
    margin: 1rem;
    width: 20rem;
}

.ff-submit {
    cursor: pointer;
    background-color: rgb(61, 172, 61);
    padding: 1rem;
    border-radius: 15px;
    width: 10rem;
}

.ff-disabled {
    pointer-events: none;
    background-color: rgb(123, 124, 123);
    padding: 1rem;
    border-radius: 15px;
    width: 10rem;
}