.lp {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.lp-title {
  font-size: 50px;
  padding: 3rem;
}

.lp-button {
  cursor: pointer;
  font-size: 25px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  background-color: rgb(97, 179, 97);
  color: white;
  transition: 0.2s;
  min-height: 95px;
  min-width: 70%; /* Adjust width if necessary */

  display: flex; /* Add this */
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  text-align: center;
}

.lp-button:hover {
  transform: translateY(-5px);
}

.lp-dropdwon {
  width: 50px;
}

.jost {
  font-family: 'Jost', serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.background {
  background-image: url('../assets/backgroundImage.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100vw;
}

.pinkish {
  background-color: rgb(175, 118, 102);
}
.blueish {
  background-color: rgb(96, 170, 166);
}
